<div class="container my-5">
  <% if @query %>
  <h1 class="mb-3">All available paintings for <%= @query %></h1>
  <% else %>
  <h1 class="mb-3">All available paintings</h1>
    <% end %>
  <%= form_tag paintings_path, method: :get, class:"form-inline" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a work of art"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  <% if @paintings.empty? %>
    <div> No painting to display </div>
  <% else %>
    <%= render 'shared/painting_cards', paintings: @paintings %>
  <% end %>
</div>
