
<!-- [...] -->
<%= form_tag paintings_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a work of art"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
<!-- the list of paintings -->
<div class="container my-4">
  <div class="card-container">
    <h3>Paintings near you</h3>
    <div class="row">
      <% @paintings.each do |painting| %>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card mt-4">
            <%= link_to painting_path(painting) do %>

              <% if painting.photo.attached? %>
                <% painting_url = cl_image_path(painting.photo.key) %>
              <% else %>
                <% painting_url = "https://images-na.ssl-images-amazon.com/images/I/71KaNz7a4JL._AC_SL1024_.jpg" %>
              <% end %>

              <img class="card-img-top" src="<%= painting_url %>" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"><%= painting.title %></h5>
                <p class="card-text"><%= "#{painting.category} painting. (#{painting.width}x#{painting.height}cm)" %></p>
                <p class="card-text"><%= "€#{ painting.price_cents_per_day / 100 } per day" %></p>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


