<h1>Paintings</h1>
<%= @painting.name %>
<% @painting.each do |painting| %>
  <%= painting.title %><%= painting.category %>
<% end %>
<%= link_to "Back", painting_path %>
<%= link_to "Remove", painting_path(painting),
                method: :delete,
                data: { confirm: "Are you sure?" }
            %>
