<div class="container mt-4">
  <h1>Your bookings</h1>
  <div id="bookings-container">
    <ul class="list-group mt-4">
      <h4>From your paintings</h4>
      <div class="d-flex justify-content-between">
        <div class="px-4">Painting Title</div>
        <div class="px-4">Start & End Date</div>
      </div>
      <% @bookings.each do |booking| %>
        <%= link_to booking_path(booking) do %>
        <li class="list-group-item d-flex justify-content-between mt-1">
          <div>
            <%= booking.painting.title %>
          </div>
          <div>
            <%= "#{booking.start_date} - #{booking.end_date}" %>
          </div>
        </li>
        <% end %>
      <% end %>
    </ul>
    <ul class="list-group mt-4">
      <h4>From your rents</h4>
      <div class="d-flex justify-content-between">
        <div class="px-4">Painting Title</div>
        <div class="px-4">Start & End Date</div>
      </div>
      <% @bookings_through_paintings.each do |booking| %>
        <%= link_to booking_path(booking) do %>
        <li class="list-group-item d-flex justify-content-between mt-1">
          <div>
            <%= booking.painting.title %>
          </div>
          <div>
            <%= "#{booking.start_date} - #{booking.end_date}" %>
          </div>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <%= link_to "Back to all paintings", paintings_path, class: "btn btn-primary mt-3" %>

</div>