<div class="container mt-4">
  <h1>All your bookings</h1>
  <div id="bookings-container">
    <ul class="list-group mt-4">
      <h4>Your booked paintings</h4>
      <% @bookings.each do |booking| %>
        <%= link_to booking_path(booking) do %>
        <li class="list-group-item d-flex justify-content-between mt-1">
          <div>
            <%= booking.painting.title %>
          </div>
          <div>
            <%= "#{booking.start_date} - #{booking.end_date}" %>
          </div>
        </li>
        <% end %>
      <% end %>
    </ul>
    <ul class="list-group mt-4">
      <h4>Bookings for your paintings</h4>
      <% @bookings_through_paintings.each do |booking| %>
        <%= link_to booking_path(booking) do %>
        <li class="list-group-item d-flex justify-content-between mt-1">
          <div>
            <%= booking.painting.title %>
          </div>
          <div>
            <%= "#{booking.start_date} - #{booking.end_date}" %>
          </div>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <%= link_to "Back to all paintings", paintings_path, class: "btn btn-primary mt-3" %>

</div>