<div class="container mt-3">
  <div class="card position-relative">
    <div class="card-body">
      <div class="col text-center">
       <h2 class="card-title mb-4"><%= @painting.title %></h2>
      <div id="fit-image">
      <% if @painting.photo.attached? %>
        <%= cl_image_tag @painting.photo.key %>
      <% end %>
    </div>
      </div>
      <div class="card-body">
    <h3 class="card-title"><%= @booking.painting.title %></h3>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Category: <em><%=  @painting.category  %></li>
    <li class="list-group-item">Start date:<%= @booking.start_date %> </li>
    <li class="list-group-item">End date: <%= @booking.end_date %></li>
  </ul>
    </div>
  </div>

 <div class="card-body">
   <div class="col text-center">
    <%= link_to "Back to all bookings", bookings_path, class: "btn btn-primary mt-3" %>
   <div class="col text-center">
  </div>
</div>
</div>
