<div class="painting-card-content">
  <%= link_to painting_path(painting) do %>

    <% if painting.photo.attached? %>
      <% painting_url = cl_image_path(painting.photo.key) %>
    <% else %>
      <% painting_url = "https://images-na.ssl-images-amazon.com/images/I/71KaNz7a4JL._AC_SL1024_.jpg" %>
    <% end %>

    <img class="card-img-top" src="<%= painting_url %>" alt="Card image cap">

    <div class="card-body d-flex flex-column justify-content-between">
      <h5 class="card-title font-weight-bold"><%= painting.title %></h5>

      <div class="d-flex justify-content-between">
        <p><%= "#{painting.category}: #{painting.width}x#{painting.height}cm" %></p>

        <div class="align-self-end">
          <p><strong><%= (painting.price_cents_per_day / 100) %>€</strong> / day</p>
        </div>
      </div>
    </div>

  <% end %>
</div>
